/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2017, 11:44:23 PM
    Author     : Power G
*/
* {
  -webkit-tap-highlight-color: transparent; }

*:focus {
  outline: none !important; }

body {
  -ms-overflow-style: none !important;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

html {
  overflow-x: hidden; }

html body {
  background: #f5f5f5;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-family: sans-serif,Arial, Helvetica;
  font-weight: 400; }

/*# sourceMappingURL=style.css.map */
