/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 6, 2017, 11:44:23 PM
    Author     : Power G
*/
@font-face {
    font-family: 'antigoni_lightregular';
    src: url('http://gavaramahajanamatrimony.com/css/antigoni_light-webfont.eot');
    src: url('http://gavaramahajanamatrimony.com/css/antigoni_light-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/antigoni_light-webfont.woff') format('woff'),
        url('http://gavaramahajanamatrimony.com/css/antigoni_light-webfont.ttf') format('truetype'),
        url('http://gavaramahajanamatrimony.com/css/antigoni_light-webfont.svg#antigoni_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'DroidSansRegular';
    src: url('http://gavaramahajanamatrimony.com/css/DroidSans-webfont.eot');
    src: url('http://gavaramahajanamatrimony.com/css/DroidSans-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DroidSans-webfont.woff') format('woff'),
        url('http://gavaramahajanamatrimony.com/css/DroidSans-webfont.ttf') format('truetype'),
        url('http://gavaramahajanamatrimony.com/css/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avenirregular';
    src: url('http://gavaramahajanamatrimony.com/css/12_avenir_35_light_02173-webfont.eot');
    src: url('http://gavaramahajanamatrimony.com/css/12_avenir_35_light_02173-webfontd41d.eot?#iefix') format('embedded-opentype'),
        url('../fonts/12_avenir_35_light_02173-webfont.woff') format('woff'),
        url('http://gavaramahajanamatrimony.com/css/12_avenir_35_light_02173-webfont.ttf') format('truetype'),
        url('http://gavaramahajanamatrimony.com/css/12_avenir_35_light_02173-webfont.svg#avenirregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SaiIndira';
    src: url('../fonts/TSCu_SaiIndira.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
*:focus{
    outline: none !important;
}
$color_black:#000;
$color_white:#fff;
body{
    -ms-overflow-style: none !important;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
html{
    overflow-x: hidden;
}
html body {
    background: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #666;
    font-family: DroidSansRegular,sans-serif,Arial, Helvetica;
    font-weight: 400;
}
.tamil_lang{
    font-family: SaiIndira,sans-serif,Arial, Helvetica;
}
.master_container{
    margin-top: 50px;
}
header {
    width: 100%;
}
.valignm{
    vertical-align: middle; 
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: -50px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        background: radial-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
        -webkit-transform: scale(0) translate(0, 0);
        transform: scale(0) translate(0, 0);
        pointer-events: none;
    }
}
@mixin gradient-vertical($start-color, $end-color, $start-percent, $end-percent) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}
.cd-hero-slider .banner1_li{
    background-image: url(../images/slider/slider1bg.jpg);
    background-repeat: no-repeat;
    background-color: #80CBC4;
    height: 650px;
    background-position: bottom left;
}
.banner_bg{
    background-image: url(../images/slider/slider1bg.jpg);
    background-repeat: repeat;
    background-color: #ede8e5;
    height: 400px;
    background-position: center;
    @media all and (max-width:1024px){
        height: 350px;
    }
    @media all and (max-width:760px){
        height: 300px;
    }
    @media all and (max-width:540px){
        height:200px;
        top:36%;
    }
    h1{
        position: absolute;
        bottom: 15px;
        z-index: 11;
        left: 15%;
        margin: 0px;
        font-size: 30px;
        color: #f55100;
        text-transform: uppercase;
        @media all and (max-width:767px){
            left: 10px;
            bottom: 10px;
            font-size: 25px;
        }
        @media all and (max-width:580px){
            left: 15px;
            bottom: 20px;
            font-size: 20px;
        }
    }
    img{
        @media all and (max-width:1024px){
            height: 320px;
        }
        @media all and (max-width:760px){
            height:280px;
            top:36%;
        }
        @media all and (max-width:540px){
            height:180px;
            top:36%;
        }
    }
}
.cd-hero-slider .banner2_li{
    background-image: url(../images/slider/slider2bg.jpg);
    background-repeat: no-repeat;
    background-color: #80CBC4;
    height: 650px;
    background-position: bottom right;
}
.cd-hero-slider .cd-img-container img{
    @media all and (max-width:760px){
        height:380px;
        top:36%;
    }
    @media all and (max-width:540px){
        height:auto;
        top:36%;
    }
}
.top_logo_txt {
    position: absolute;
    color: #fff;
    padding: 14px 0px;
    margin: 0px;
    @media all and (max-width:540px){
        font-size: 20px;
    }
}
.logo_txt{
    font-size: 40px;
    color:#FF5722;
    padding: 30px 15px;
    font-family: avenirregular,sans-serif,Arial, Helvetica;
}
.reg_txt{
    color:$color_white;
    h3{
        font-size: 30px; 
        font-family: antigoni_lightregular,sans-serif,Arial, Helvetica;
        margin-bottom: 20px;
        @media all and (max-width:540px){
            font-size: 22px;
        }
    }
    h1{
        font-size: 35px;
        margin-bottom: 30px;
        span{
            color:#009688;
        }
        @media all and (max-width:540px){
            font-size: 28px;
        }
    }
    .reg-btn {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        color:#FF5722;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #FF5722;
        &:hover{
            text-decoration: none;
            background-color: #FF5722;
            color:#fff;
        }
    }
    p{
        font-size: 16px;  
        margin-top: 20px;
        color: $color_black;
        text-transform: uppercase;
        @media all and (max-width:540px){
            font-size: 14px;
        }
    }
    &.reg_txt1{
        h3{
            color:#009688;
            text-shadow: 1px 1px 1px #fff;
        }
        h1{
            color:#FF5722;
        }
    }
    &.reg_txt2{
        h3{
            color:#009688;
            text-shadow: 1px 1px 1px #fff;
        }
        h1{
            color:#FF5722;
        }
    }
    &.reg_txt3{
        h3{
            color:#73c8ea;
            text-shadow: 1px 1px 1px #fff;
        }
        h1{
            color:#FF5722;
        }
    }
    @media all and (max-width:767px){
        background-color: rgba(255, 255, 255, 0.8);   
    }
}
.paddindb100{
    padding-bottom: 70px;
    padding-top: 70px;
}
.home_txt{
    h1{
        font-size: 35px;
        margin: 0px auto 20px;
        color:#FF5722;
        span{
            color:#009688; 
        }
    }
    p{        
        max-width: 620px;
    }
    @media all and (max-width:767px){
        padding-top:50px; 
    }
}
.home_serach{
    padding-bottom:50px; 
    .reg-btn{
        display: inline-block;
        text-align: center; 
        width: 150px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #FF5722;
        color:#FF5722;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 50px;
        margin-right: 50px;
        text-decoration: none;
        &:hover{
            text-decoration: none;
            background-color: #FF5722;
            color:#fff;
        }
        &.reg-btn-groom{
            border: 1px solid #009688;
            color:#009688;
            margin-right: 0px;
            &:hover{
                background-color: #009688;
                color:#fff;
            }
        }
        @media all and (max-width:540px){
            margin-right: 0px;
        }
    }
    @media all and (max-width:767px){
        text-align:center;
    }
}
.btn_all{
    display: inline-block;
    text-align: center; 
    width: 150px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #FF5722;
    color:#FF5722;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
    background-color: #fff;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        background-color: #FF5722;
        color:#fff;
    }
    &.btn_reset{
        border: 1px solid #666;
        color:#000;
        &:hover{
            text-decoration: none;
            background-color: #666;
            color:#fff;
        }
    }
}
.reg_right{
    background-color: #FF5722; 
    color:#fff;
    max-width: 400px;
    margin: 0px auto 0px;
    padding: 20px;
    h1{
        font-size: 22px;
        border: 1px solid;
        padding: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
        text-align: center;
        img{
            margin-right: 10px;
        }
    }
    .reg_ul{
        list-style: none;
        padding: 20px;
        margin: 0px;
        color:#000;
        background-color: #8BC34A;
        li{
            margin: 15px auto;
        }
    }
    h2{
        background-color: #8BC34A; 
        margin-bottom: 20px;
        color:#000;
        padding: 20px;
        font-size: 16px;
        text-transform: uppercase;
    }
}
.footer_full{
    background-color: #401608;
    .footer_cell{
        padding: 50px 0px 10px;
        color: #FFF;
        h1{
            margin: 20px 0px;
            font-size: 30px;
        }
        .footer_ul{
            li{
                margin: 10px 0px;
            }
            .social_li{
                span{
                    display: inline-block;
                    margin: 0px 10px 0px 0px;
                    .fb{
                        color: #4867aa;  
                    }
                    .tw{
                        color: #1da1f2; 
                    }

                    .in{
                        color: #007bb6;
                    }
                    .gp{
                        color: #ea4335;
                    }
                    a:hover{
                        color: #fff;   
                    }
                }
            }
            .sanfont{
                color: #fff;  
                a{
                    color: #fff;  
                    &:hover{
                        color: #fff;  
                    }
                }
            }
        }
        .copy_right{
            padding-left: 0px;
            border-top:1px solid #fff;  
            p{
                font-family: antigoni_lightregular,sans-serif,Arial, Helvetica;
                margin: 0px;
                margin-top: 10px;
                font-size: 12px;
            }
        }
    }
}
.form_div{
    padding: 0px 0px 30px;
    .sm-label{
        font-size: 13px;
    }
    h1{
        padding-bottom: 20px;
        color:#FF5722;
        i{
            margin-right: 5px;
        }
    }
    .form-control.form-control-lg{
        border-radius: 0px;
    }
}
.form-rht-desc {
    max-width: 320px;
    margin: 0px auto;
    h1{
        color:#009688;
        line-height: 30px;
        span{
            color:#FF5722;  
            font-family: avenirregular,sans-serif,Arial, Helvetica;
        }
    }
    p{
        margin: 15px 0px;
    }
    h2{
        padding: 25px 0px 10px;
        color:#009688;
        &.contact_h1{
            padding-top: 0px;
        }
        i{
            margin-right: 5px;
        }
    }
    ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            margin: 10px 0px;
        }
    }
}

.payment-top {
    width: 100%;
    background-color: #80CBC4;
    height:150px;
    &.contactbg{
        background-color: #FFE082;
    }
    h1{
        color:#000;
        padding: 20px 20px 0px;
    }
    .iob{
        height: 50px;
        background-color: #fff;
        padding: 5px;
        margin: 15px 20px;
        vertical-align: middle;
        @media all and (max-width:580px){
            height: 30px;
            margin: 10px 0px 10px 15px;
        }
    }
    .bank{
        margin-right: 20px;
        margin-left: auto;
        text-align: right;
        float: right;
        height: 120px;
        margin-top: -35px;
    }
    .homes{
        @extend .bank;
    }
}
.paid-payment{
    h1{
        color:#009688;
    }
    h2{
        color:#FF5722;  
    }
    .reg_ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            margin: 10px 0px;
        }
    }
    p{
        margin: 5px 0px;
        max-width: 600px;
        a{
            color: #666;
        }
    }
}
.padtop20{
    padding-top: 20px;
}
.padbottom20{
    padding-bottom: 20px;
}
.bridebg{
    background-color: #fff0d1;
    h1{
        position: absolute;
        bottom: 15px;
        z-index: 11;
        right: 20%;
        margin: 0px;
        font-size: 30px;
        color: #f55100;
        text-transform: uppercase;
        @media all and (max-width:767px){
            right: 10px;
            bottom: 10px;
            font-size: 25px;
        }
        @media all and (max-width:580px){
            right: 15px;
            bottom: 50px;
            font-size: 20px;
        }
    }
    .container{
        padding: 0px;
        @media all and (max-width:540px){
            padding: 0px 15px;
        }
    }
}
.groombg{
    background-color: #ffe9a5;
    h1{
        position: absolute;
        bottom: 15px;
        z-index: 11;
        margin: 0px;
        right: 20%;
        font-size: 30px;
        color: #f55100;
        text-transform: uppercase;
        @media all and (max-width:767px){
            right: 10px;
            bottom: 10px;
            font-size: 25px;
        }
        @media all and (max-width:580px){
            right: 15px;
            bottom: 50px;
            font-size: 20px;
        }
    }
    .container{
        padding: 0px;
        @media all and (max-width:540px){
            padding: 0px 15px;
        }
    }
}
.pro-search{
    border-radius: 0px;
    border-color: #f55100;
    color: #f55100;
    background-color: rgba(255, 255, 255, 0);
}
.inner-addon {
    position: relative;
    padding: 15px 0px;
}
/* style glyph */
.inner-addon .fa {
    position: absolute;
    padding: 8px;
    pointer-events: none;
    color: #f55100;
}
/* align glyph */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.profile_details{
    background-color: #FFF8E1;
    padding: 15px 0px;
    margin-bottom: 30px;
}
.txt-space {
    word-wrap: break-word;
}
.more_horoscope{
    display: inline-block;
    font-size: 14px;
    color:#FF5722;
    padding:10px 20px 0px;
    &:hover,&:active,&:visited,&:focus{
        color:#009688; 
    }
}
.zoom_click{
    cursor: pointer;
}
/*.horoscope{
    .img-fluid{
        max-width: 220px;
        @media all and (max-width:1200px){
            max-width: 100%;
        }
    }
}*/
#preview{
    position:absolute;
    border:1px solid #FF5722;
    background:#FF5722;
    display:none;
    color:#fff;
}