/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2017, 9:58:04 AM
    Author     : Power G
*/
.bmd-header {
    height: 50px;
    position: absolute;
    width: 100%;
    top: 150px;
    z-index: 999;
    background-color: #673AB7;
}
.bmd-dp-logo {
    height: 200px;
    background-color: #673AB7;
}
@media all and (max-width: 767px) {
    .bmd-dp-logo {
        height: 100px; 
    }
}
.bmd-fixed{
    position: fixed;
    top: 0;
    height: 50px;
    z-index: 1111;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    visibility: visible;
    transition: background-color 0.5s ease;
}
.m-link{
    display: none;
    float: left;
    height: 50px;
}
.m-link img{
    display: block;
    max-width: 100%;
    height: 25px;
    margin: 13px 0px 13px 0px;
}
.logo {
    display: inline-block;
    padding: 15px;
}
.mlogo-open{
    display: block!important;
}
.mlogo-open img{
    margin-left: 15px;
}
.header_full{
    background-color: #f55100;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 111;

}
.header_full .container{
    padding: 0px 10px; 
}
.mobile-link{
    color: #fff;
    font-size: 28px;
}
.mobile-link:hover{
    color: #fff;
}
#fix-header{    
    height: 50px;   
}
@media all and (max-width: 400px) {
    .mobile-link{
        font-size: 20px;
    }
}
@media (max-width: 760px){
    header.container{
        width: 100%;  
    }
}
@media all and (max-width: 767px) {
    .mlogo-open img{
        margin-left: 0px;
    }
}
.mlogo-close{
    display: none!important;
}
.bmd-navbar{
    position: relative;
    height: 50px;
    float: left;
    padding: 0px;
}
.bmd-navbar ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
}
.bmd-navbar ul li{
    float: left;
    text-transform: uppercase;
}
.bmd-navbar ul li a {
    display: inline-block;
    color: #fff;
    padding: 12px 10px;
    font-size: 14px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.bmd-navbar ul li a:hover {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.bmd-navbar ul li a.active {
    color: #fff;
    text-decoration: none;
    border-bottom:2px solid #fff;
}
.bmd-navbar .active-marker {
    background: #fff;
    bottom: 0;
    display: none;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: auto;
}
.bmd-navbar ul li a:hover,.bmd-navbar ul li a:focus{
    text-decoration: none;
}
.lang_wrap{
    position: relative;
    height: 50px;
    float: right; 
}
.lang_wrap ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.lang_li {
    float: left;
    padding: 15px 0px;
    color: #fff;
    height: 50px;
    font-size: 12px;
}
.lang_li span a{
    display: inherit;
    color: #fff;
    padding: 10px 0px;
    font-size: 12px;
}
.lang_li span a:hover{
    color: #fff;
}
@media only screen and (max-width: 960px) {
    .lang_wrap{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .bmd-header {
        position: relative;
        top: 0px;
    }
    .bmd-navbar .active-marker{
        display: none!important;
    }
    .material-menu-button {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 10;
        display: block;
        width: 50px;
        height: 40px;
        padding: 14px 12px 0px 12px;
        /*background-color: #FFC107;*/
        border-radius: 30px;
    }

    .material-menu-button span {
        display: block;
        width: 100%;
        height: 3px;
        margin-bottom: 6px;
        background-color: #fff;
    }

    .material-menu-wrapper {
        padding: 20px;
    }

    .material-menu-view-mobile {
        background-color: #fff;
        -webkit-box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 40px 0px 30px 0px rgba(0, 0, 0, 0.2);
    }

    .material-menu-titlebar {
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .material-menu-titlebar .material-menu-button {
        position: static;
    }
    .bmd-navbar ul li{
        width: 100%;
    }
    .bmd-navbar ul li a{
        display: block;
        color: #000;
    }
    .bmd-navbar .active-marker {
        background: #FFC107;
    }
    .bmd-navbar ul li a.active {
        color: #FFC107;
        text-decoration: none;
        border-bottom:2px solid #FFC107;
    }
}
@media (max-width: 991px) {
    .bmd-navbar ul li a{
        padding: 12px 7px;
    } 
}