<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/app.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
        <script type="text/x-handlebars">
            <div class="container">
            <div class="panel panel-default">
            <div class="panel-heading"><h4>Top Artist</h4></div>
            {{outlet}}
            </div>
            </div>
        </script>


        <script type="text/x-handlebars" data-template-name="index"> 
          <div class="row" id="loading" style="display:none">
            <div class="col-md-4 col-md-offset-5"><h3>
                Loading....
            </h3></div>
            </div>
          <div class="panel-body" id="artist_container">
            <div class="col-md-10 col-md-offset-1" style="">
              <div class="pull-left"><h4>{{country}}</h4></div>
              <div class="pull-right">
        

                <select class="selectpicker" onchange={{action "selectCountry" value="target.value"}} data-live-search="true">
                    <option data-tokens='' value=''>Select</option>
                  {{#each countryDict as |countrySingle|}}
                    
                        <option data-tokens={{countrySingle}} value={{countrySingle}} selected>{{countrySingle}}</option>
                    
                  {{/each}}
                </select>
              </div>
            </div>
    
            <div class="clearfix"></div>
            <br>

            <div class="clearfix">
        
                {{#if artist_list}}
                {{#each artist_list as |artist|}}
                    <div class="col-md-2 {{artist.css}}"> 
                    <a class="thumbnail" href="javascript:;" onclick={{action "viewArtist" artist}}>
                        <img class="img-responsive" src="{{artist.smimage}}" alt="">
                    </a>
                    <h5>{{artist.short_name}}</h5>
                  </div>
                {{/each}}
                {{else}}
        
                    <div class="row">
                    <div class="col-md-4 col-md-offset-5"><h3>
                    {{#if country}}
                        No Artist found
                
                    {{else}}
                         No country selected
                    {{/if}}
                    </h3></div>
                    </div>
                {{/if}}
                        
            </div>


          <div class="col-sm-10 col-md-offset-1" id="pagination" style="display:none">
            <div class="pull-left">
                <div class="info" id="info">Showing 1 of 57 pages</div>
            </div>
            <div class="pull-right">
                <ul class="pagination">
                  <li class="disabled">
                    <a class="paginate_button first" tabindex="0" href="#" id="first_page" >
                    <span class="glyphicon glyphicon-backward"></span>&nbsp;First</a>
                  </li>
                  <li class="disabled">
                    <a class="paginate_button previous" tabindex="0" href="#" id="prev_page">
                    <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Previous</a>
                  </li>
                  <li>
                    <a class="paginate_button next" tabindex="0" href="#" id="next_page">Next&nbsp;
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </li>
                  <li>
                    <a class="paginate_button last" tabindex="0" href="#" id="last_page">Last&nbsp;
                    <span class="glyphicon glyphicon-forward"></span></a>
                  </li>
                </ul>
              </div>
            <div class="clearfix"></div>
          </div>
        
          <!--modal start here -->
          <div class="modal fade" id="artModal" role="dialog">
            <div class="modal-dialog">
    
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" {{action "resetModal"}}>&times;</button>
                  <h4 class="modal-title">{{sartist.name}}</h4>
                </div>
                <div class="modal-body">
                  <div class="pull-left col-md-5">
                    <img src="{{sartist.lgimage}}" border=0>
                    </div><div class="pull-right col-md-5">
                    <ul class="list-group col-md-12">
                      <li class="list-group-item"><h5>Listeners </h5></li>
                      <li class="list-group-item pad30px">{{sartist.listeners}}</li>
                    </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- Modal content-->
              </div>
          </div>
        </div><!--modal-->

        </div>
        </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
        
        <script src="//builds.emberjs.com/release/ember-template-compiler.js"></script>
        <script src="//builds.emberjs.com/release/ember.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/ember-data.js/2.7.0/ember-data.js"></script>
        <script src="js/app.js"></script>

    </body>
</html>
