/* 
    Created on : Aug 4, 2016, 6:52:03 PM
    Author     : Rajapandian
*/


.thumbnail {
  margin-bottom:0px
}
.info {
  margin-top:25px
}
.pad30px {
    padding-left:30px
}
.container {
    margin-top:5%;
}




